body {
	/*E3EEFF*//*
	FFF0D6*/
	background-color: rgb(244, 246, 255);
	/*background-color: #fbecec;*/
}

#asd, #asd2 {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration: underline;
}


label {
	margin-left: 2%;
	margin-right: 1%;
}

ul {
	list-style-type: none;
}